.bg-primary {
  background-color: #d50074;
  color: #fff; }

.bg-light {
  background-color: #ccc;
  color: #333; }

.bg-dark {
  background-color: #343a40;
  color: #fff; }

.bg-success {
  background-color: #28a745;
  color: #fff; }

.bg-danger {
  background-color: #dc3545;
  color: #fff; }

.bg-white {
  background-color: #fff;
  color: #333; }

.form-group {
  margin: 1.2rem 0; }

.form-text {
  display: block;
  margin-top: .3rem;
  color: #ccc; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 70%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 3px solid #ccc; }

.my-1 {
  margin: 1rem 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Farro', sans-serif;
  font-size: 1.7rem;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #d50074; }

ul {
  list-style: none; }

img {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 4px #d50074;
  opacity: .9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #d50074;
    padding: 0.45rem;
    margin: 0 .25rem; }
    .navbar a:hover {
      color: #fff; }

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height:125vh;
}

  .landing-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }

.alert {
  padding: 0.2rem 10px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  opacity: .9;
  background: #dc3545;
  color: #fff; }
  .alert-alert-primary {
    background-color: #d50074;
    color: #fff; }
  .alert-alert-dark {
    background-color: #343a40;
    color: #fff; }
  .alert-alert-primary {
    background-color: #28a745;
    color: #fff; }
  .alert-alert-primary {
    background-color: #dc3545;
    color: #fff; }

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.x-large {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.btn {
  display: inline-block;
  background: #ccc;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  outline: none;
  transition: all 0.3s ease-in; }
  .btn.btn-primary {
    background-color: #d50074;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #f90087; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem; 
}

.text-primary {
  color: #d50074; }

.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 5rem;
  align-items: center; }

.round-img {
  border-radius: 50%;
  border: solid 4px #ccc; }

.line {
  height: 3.5px;
  background: #fff;
  margin: 1.5rem 0; }

.profile-grid {
  display: grid;
  grid-template-areas: 'top top'  'about about' 'exp edu' 'github github';
  grid-gap: 3rem; }
  .profile-grid .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .profile-grid .profile-top img {
      width: 250px;
      margin-top: 50px; }
    .profile-grid .profile-top .large {
      margin-top: 30px; }
    .profile-grid .profile-top .icons a {
      color: #ccc;
      margin: 0 0 15px 0;
      padding: 20px; }
      .profile-grid .profile-top .icons a:hover {
        color: #343a40; }
  .profile-grid .profile-about {
    grid-area: about;
    text-align: center; }
    .profile-grid .profile-about .text-primary {
      margin-top: 20px; }
    .profile-grid .profile-about .p-1 {
      padding: 12px; }
    .profile-grid .profile-about .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 25px; }
  .profile-grid .profile-exp {
    grid-area: exp; }
  .profile-grid .profile-edu {
    grid-area: edu; }
  .profile-grid .profile-exp > div,
  .profile-grid .profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: #343a40 3px dotted; }
  .profile-grid .profile-exp p,
  .profile-grid .profile-edu p {
    margin: 1rem 0; }
  .profile-grid .profile-github {
    grid-area: github; }
  .profile-grid p {
    margin-bottom: 2.5rem; }

.table th, .table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: #ccc; }

.my-2 {
  margin-top: 3.5rem; }

.post-form-header {
  padding: .5rem; }

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem; }
  .post > div:first-child {
    text-align: center; }
  .post img {
    width: 150px; }

@media (max-width: 1000px) {
  .hide-sm {
    display: none; }
  .x-large {
    font-size: 2.3rem; }
  .navbar {
    display: block;
    text-align: center; }
    .navbar ul {
      text-align: center;
      justify-content: center; }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-top: .5rem; }
  .profile {
    grid-template-columns: 1fr;
    text-align: center; }
    .profile ul {
      display: none; }
  .profile-grid {
    grid-template-areas: 'top' 'about' 'exp' 'edu' 'github'; }
  .profile-about .skills {
    flex-direction: column; }
  .post {
    grid-template-columns: 1fr; }
    .post a,
    .post button {
      padding: 0.3rem 0.4rem; } }
