.form {
	&-group {
		margin: 1.2rem 0;
	}

	&-text {
		display: block;
		margin-top: .3rem;
		color: $light-colour;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	select,
	textarea {
		display: block;
		width: 70%;
		padding: 0.4rem;
		font-size: 1.2rem;
		border: 3px solid $light-colour;
	}
}

.my-1 {
	margin: 1rem 0;
}

