@import 'config';
@import 'utilities';
@import 'form';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:'Farro', sans-serif;
	font-size: 1.7rem;
	line-height: 1.6;
}

a {
	text-decoration: none; 
	color: $primary-colour;
}

ul {
  list-style: none;
}

img {
	width: 100%;
}

//Navbar 
.navbar {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 4px $primary-colour;
	opacity: .9;

	ul {
    	display: flex;
  	}


	a {
		color: $primary-colour;
		padding: 0.45rem;
		margin: 0 .25rem;
		
		&:hover {
			color: #fff;
		}

	}

}

.landing {
	position: relative;
	background: url('../img/showcase.jpg') no-repeat center center/cover;
	height: 100vh;

	&-inner { 

		color: #fff;
		height: 100%;
		display:flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
	}


}

//Alerts 

.alert {
	padding: 0.2rem 10px;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	opacity: .9;
	background: $danger-colour;
	color: #fff;

	&-alert-primary {
		@include set-background($primary-colour);
	}

	&-alert-dark {
		@include set-background($dark-colour);
	}

	&-alert-primary {
		@include set-background($success-colour);
	}

	&-alert-primary {
		@include set-background($danger-colour);
	}

}

.dark-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	background-color: rgba(0,0,0,.6)
}

.x-large {
	font-size: 3.5rem;
	line-height: 1.2;
	margin-bottom: 2rem;
}
.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead { 
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

//buttons 

.btn {
	display: inline-block;
	background: $light-colour;
	padding: 0.4rem 1.3rem;
	border: none;
	cursor: pointer;
	margin-right: 2rem;
	outline: none;
	transition: all 0.3s ease-in;

	&.btn-primary {
		@include set-background($primary-colour);
		&:hover {
			background: lighten($primary-colour, 7);
			
		}
	}
}

.container {
	max-width: $max-width;

	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	margin-top: 10rem;
	margin-bottom: 3rem;
}

.text-primary {
	color: $primary-colour;
}

// browse page 

.profile {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	grid-gap: 2rem;
	padding: 1rem;
	line-height: 1.8;
	margin-bottom: 5rem;
	align-items: center;
}

.round-img {
	border-radius: 50%;
	border: solid 4px $light-colour;
}

.line {
	height: 3.5px;
	background: #fff;
	margin: 1.5rem 0;
}

//profile page 

.profile-grid {
	display: grid;
	grid-template-areas: 

	'top top' 
	'about about'
	'exp edu'
	'github github';

	grid-gap: 3rem;

	.profile-top {
		grid-area: top;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		img {
			width: 250px;
			margin-top: 50px;
		}

		.large {
			margin-top:30px;
		}

		.icons a {
			color: $light-colour;
			margin:0 0 15px 0;
			padding: 20px;

			&:hover {
				color: $dark-colour;
			}
		}
	}

	.profile-about {
    grid-area: about;
    text-align: center;


    .text-primary {
    	margin-top: 20px;
    }

    .p-1 {
    	padding: 12px;
    }

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }

  .profile-exp {
    grid-area: exp;
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      border-bottom: $dark-colour 3px dotted;
    }

    p {
      margin: 1rem 0;
    }
  }

   .profile-github {
	 grid-area: github;
	}

 	p {
 		margin-bottom: 2.5rem;
 	}
  }

	//dashboard page

.table {
	th,td {
		padding: 1rem;
		text-align: left;
	}

	th {
		background: $light-colour;
	}
}

.my-2 {
	margin-top: 3.5rem;
}
	
	//posts page 

.post-form-header {
	padding: .5rem;
}

.post {
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
	align-items: center;
	padding: 1rem;

	& > div:first-child {
		text-align: center;
	}

	img {
		width: 150px;
	}
}

@import 'mobile';






